@*Strong typed*@
@model Application.Models.PersonalloansModel

@{
    ViewData["Title"] = "Home Page";
}

	<h2 class="heading text-center display-2">Personal loans</h2>

	<hr>

	<div class="container">

		<form method="post" asp-controller="Home" asp-action="Calculate">
			<div class="main">

				<div class="form-group mb-2">
				<label>Loan amount</label>
					<input type="number"
						   class="form-control searchBox"
						   placeholder="0.00"
						   asp-for="amount" required min="0">
				</div>

				<div class="row">
				<div class="col-sm-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Number of monthly installments</span>
							</div>
						<select class="form-control from" id="sel1" asp-for="personalloansType" required>
								<option value="">Select One …</option>
								<option value="22">Personal</option>
								<option value="12">Auto</option>
								<option value="8">Mortgage</option>
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Number of monthly installments</span>
							</div>
						<select class="form-control from" id="sel1" asp-for="personalloansTypeBase " required>
								<option value="">Select One …</option>
								<option value="12">12 meses</option>
								<option value="18">18 meses</option>
								<option value="24">24 meses</option>
								<option value="30">30 meses</option>
								<option value="36">36 meses</option>
								<option value="42">42 meses</option>
								<option value="48">48 meses</option>
								<option value="54">54 meses</option>
								<option value="60">60 meses</option>
								<option value="66">66 meses</option>
								<option value="72">72 meses</option>
								<option value="78">78 meses</option>
								<option value="84">84 meses</option>
								<option value="90">90 meses</option>
								<option value="96">96 meses</option>
								<option value="102">102 meses</option>
								<option value="108">108 meses</option>
								<option value="114">114 meses</option>
								<option value="120">120 meses</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
							@*<b data-tooltip="Is the cost you pay each year to borrow money, including fees, expressed as a percentage.">? </b>*@
							<span class="input-group-text">Annual interest rate</span>
							</div>
						<input type="number"
							   class="form-control searchBox"
							   placeholder="0" required min="0" disabled value=@Model.interestRate>
						</div>
					</div>
				</div>

				<div class="text-center">
					<!-- calculate button -->
					<button class="btn btn-primary convert m-2" type="submit">Calculate</button>
				</div>

			</div>
		</form>

		<div id="finalAmount" class="text-center">
			<!-- Display the results -->
		<div class="col-sm-6">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Annual quota</span>
				</div>
				<input type="number"
					   class="form-control searchBox"
					   placeholder="0" required min="0" disabled value=@Model.results>
			</div>
		</div>
		</div>
	</div>
