@{
    ViewData["Title"] = "Privacy Policy";
}

<h2 class="mb-2">Made by Ramy Campusano Volquez</h2>
<p class="mb-2"><b>Enroll: </b> 2020-10153</p>
<p class="mb-2"><b>Class: </b> Programming III</p>
<p class="mb-2"><b>Professor: </b> Leonardo Enrique Tavarez Betances</p>
<p class="mb-2"><b>Institute: </b> <a href="https://itla.edu.do/"></a>Institute Technological of las Americas</p>
